<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.sprintframework.org/dtd/spring-beans.dtd" -->
<beans>
    <!-- 一个树形结构的生成bean，每个bean作为一个节点存入。 -->
	<bean id="treeBean" class="com.succez.dengc.bean.TreeBean"
		scope="prototype">
   </bean>
   <!-- 一个数据库连接建立的bean，每个bean建立一个数据库连接，注意要关闭啊！ -->
   <bean id="sqlBeans" class="com.succez.dengc.bean.SQLBean"
		scope="prototype">
		<property name="user" value ="root"/>
		<property name ="pass" value="dengchao"/>
		<property name ="url"  value ="jdbc:mysql://127.0.0.1:3306/"/>
		<property name ="className" value="com.mysql.jdbc.Driver"/>
   </bean>
</beans>

